.clients-list {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	&__item {
		padding-right: 10px;
	}
  	.client-icon {
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: 175px;
		height: 90px;
		border: 1px solid #afb1b8;
		border-radius: 4px;
		fill: #afb1b8;
  	}
  	.client-icon:hover {
		border: 1px solid $accent-color;
		border-radius: 4px;
		fill: $accent-color;
		transition: $transition-timing-function;
  	}
  @media screen and (min-width: 769px) {
	&-icon {
	  display: flex;
	  justify-content: center;
	  align-items: center;
	  width: calc((100% - 30px * 5) / 6);
	  min-width: 170px;
	  height: 90px;
	  border: 1px solid #afb1b8;
	  border-radius: 4px;
	  fill: #afb1b8;
	}
  }
}
